.bullet {
    list-style: none;
    width: 100%;
    padding: 0px 20px;
    background-color: #181c24;
    box-shadow: 2px 2px 2px 1px #000000;
    border: 1px solid #111111;
    margin-bottom: 10%;
}

